.footer-component {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-family: Nerko One, sans-serif;
  font-size: 15px;
  color: #FECDCE;
}
