.input-field-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  gap: 10px;
  align-items: center;

  .input-field-label {
    font-family: Coming Soon, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #A48E8E;
  }
}
