*, *::before, *::after {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFDDDE;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html, body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

app-root {
  display: block;
  width: 100%;
  min-height: 100vh;
}

.body-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.ticket-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 50px 30px 50px 30px;

  border-style: dashed;
  border-width: 5px;
  border-color: #A48E8E;

  border-radius: 30px;
}

.ticket-instruction {
  font-family: Coming Soon, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #A48E8E;
  flex: 1;
}

.ticket-big-instruction {
  font-family: Nerko One, sans-serif;
  font-size: 50px;
  color: #FF5C5C;
}
